* {
    font-size: 12px;
    font-family: Source Code Pro;
}

window#waybar {
    background: #002b36;
    color: #839496;
}

#custom-right-arrow-dark, #custom-left-arrow-dark {
    color: #073642;
}
#custom-right-arrow-light, #custom-left-arrow-light {
    color: #002b36;
    background: #073642;
}

#workspaces, #clock.1, #clock.2, #clock.3, #pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #tray, #mpd, #mail {
    background: #073642;
}

#clock.2 {
    font-weight: bold;
}

#custom-mpd, #custom-mail, #custom-pacman, #custom-layout {
    background: #073642;
    padding: 0 10px;
}

#custom-mail {
    color: #2aa198;
}

#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color: #268bd2;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #268bd2;
}
#backlight {
    color: #b58900
}
#memory {
    color: #2aa198;
}
#temperature {
    color: #b58900
}
#cpu {
    color: #6c71c4;
}
#custom-mpd {
    color: #d33682;
}
#battery {
    color: #859900;
}

#clock, #pulseaudio, #backlight, #memory, #cpu, #temp, #battery, #mpd, #mail {
    padding: 0 10px;
}

#clock {
    color: #839496;
}
