[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target

[Service]
ExecStartPre=/usr/bin/systemctl --user import-environment SWAYSOCK
ExecStart=/usr/bin/waybar -c /home/difrex/.config/sway/waybar/config -s /home/difrex/.config/sway/waybar/style.css
Restart=always
RestartSec=3

[Install]
WantedBy=sway-session.target
