[Unit]
Description=Transparent inactive windows
PartOf=graphical-session.target
After=sway.service

[Service]
Type=simple
EnvironmentFile=/home/difrex/.config/sway/.sway.env
ExecStart=/usr/bin/swaymgr
Restart=on-failure

[Install]
WantedBy=sway-session.target
